{% extends "base_anonimo.html" %}
{% load relatoriotags %}

{% block title %}Lista de Ramais{% endblock %}
{% block content %}
<style>
.dataTables_filter {
   display: none;
}
.fonteTable{
   font-size:12px;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <label class="texto_titulo_pop">Pesquisa por setor ou pessoa:</label>
            <input type="search" id="procura" size="40" autofocus>
        </div>
        <div class="col-md-2">
            <a href="/relatorios/hierarquizado/" class="btn btn-sm btn-primary btn-block" target="_blank">Imprimir lista de ramais</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="tabRamais" class="table table-striped table-hover table-bordered fonteTable" width="100%" cellspacing="0"></table>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_javascript %}
<script>
$(document).ready(function() {
    //retira os acentos para pesquisar
    jQuery.fn.DataTable.ext.type.search.string = function ( data ) {
    return ! data ?
        '' :
        typeof data === 'string' ?
            data
                .replace( /\n/g, ' ' )
                .replace( /[áâàäã]/g, 'a' )
                .replace( /[éêèë]/g, 'e' )
                .replace( /[íîìï]/g, 'i' )
                .replace( /[óôòöã]/g, 'o' )
                .replace( /[úûùü]/g, 'u' )
                .replace( /ç/g, 'c' ) :
            data;
    };
    //aqui eh o datatable
    var table = $('#tabRamais').DataTable( {
        responsive: true,
        "columns": [
        	{ title: "Setor" },
        	{ title: "Pessoa" },
        	{ title: "Ramal" }
        ],
        "columnDefs": [
        	//setor
        	{
        	   "targets": [ 0 ],
        	   "visible": true,
        	   "searchable": true
        	},
        	//pessoa
        	{
        	   "targets": [ 1 ],
        	   "visible": true,
        	   "searchable": true
        	},
        	//ramal
        	{
        	   "targets": [ 2 ],
        	   "visible": true,
        	   "searchable": false
        	},

        ],
        "processing": true,
        "oLanguage": {
            "sEmptyTable": "Nenhum registro encontrado",
            "sZeroRecords": "Nenhum registro encontrado",
            "sLoadingRecords": "Carregando...",
            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "_MENU_ resultados por página",
            "sProcessing": "Processando...",
            "oPaginate": {
                "sNext": "Próximo",
                "sPrevious": "Anterior",
                "sFirst": "Primeiro",
                "sLast": "Último"
            },
            "oAria": {
                "sSortAscending": ": Ordenar colunas de forma ascendente",
                "sSortDescending": ": Ordenar colunas de forma descendente"
            }
        },
        "bPaginate" : true,
        "bLengthChange": false,
        "ajax": {
        url: "/pesquisa/api/ramais"
        }
    } );

    $("#procura").on("keyup search input paste cut", function() {
        table.search(this.value).draw();
    });

} );


</script>
{% endblock %}